body {
  margin: 0;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: hsl(240, 78%, 98%);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: hsl(232, 13%, 33%);
  background-image: url("./images/bg-top.svg"), url("./images/bg-bottom.svg");
  background-repeat: no-repeat;
  background-size: 23%, 32%;
  background-position: top right, bottom left;
}

h2 {
  margin-top: 40px;
  padding: 0;
}

.plans {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px auto;
}

i {
  margin: 20px;
  font-size: 50px;
  color: hsl(237, 63%, 64%);
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.scaling {
  background-color: hsl(240, 78%, 98%);
  border-radius: 10px;
  box-shadow: 0px 2px 10px;
}

.card {
  background-color: hsl(240, 78%, 98%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 60px;
  color: hsl(232, 13%, 33%);
  border-radius: 10px;
}

.price {
  font-size: 60px;
  display: flex;
  align-items: center;
}

.dollar {
  font-size: 0.5em;
}

hr {
  width: 100%;
  background-color: hsl(240, 78%, 98%);
}

button {
  width: 140%;
  height: 30px;
  margin-inline: -10px;
  margin-block-start: 20px;
  border: 0;
  border-radius: 5px;
  background: -webkit-linear-gradient(
    left,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  font-family: "Montserrat", sans-serif;
  color: hsl(240, 78%, 98%);
}

.scaling:hover {
  background: -webkit-linear-gradient(
    left top,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  color: white;
  transform: scaleY(1.1);
  transition: transform 0.3s ease;
}

.card:hover {
  background: -webkit-linear-gradient(
    left top,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  color: white;
  transform: scaleY(0.9);
  transition: transform 0.3s ease;
}

.card:hover button {
  height: 30px;
  border: 0;
  border-radius: 5px;
  background: white;
  font-family: "Montserrat", sans-serif;
  color: hsl(237, 63%, 64%);
}
